#!/usr/bin/env python3
import os
from pawnlib.config import pawnlib_config as pawn
from toolchains.docker import AsyncDocker, run_container, run_dyn_container
target_list = {{ target_list }}


async def main(*params, **kwargs):
    pawn.console.debug(f"[bold][red] docker plugin >> [/red] -> params={params}")
    dn_param = params[0]
    args = kwargs.get('args')
    image = args.image or "jinwoo/planet:0.1.10"
    kwargs['container_name'] = f"{args.name or 'planet'}_{dn_param}"
    pawn.increase(count=1)
    container_config = {
        "Image": image,
        "Hostname": kwargs['container_name'],
        "Env": [
            f"ACCESS_CODE={dn_param}",
            f"NETWORK=vega"
        ],
        "NetworkMode": "bridge",
        "Binds": [
            f'{os.getcwd()}/logs:/app/logs:rw'
        ]
    }
    container_config['Env'] += extract_upper_key_to_env_list()

    await run_dyn_container(container_config, *params, **kwargs)
